<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ツイート詳細</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<div class="container">
    <h1>ツイート詳細</h1>
    <div class="tweet-details">
        <p>ユーザー名: <span th:text="${tweet.userName}"></span></p>
        <p>ユーザーID: <span th:text="${tweet.tweetUserId}"></span></p>
        <p>ツイートのID: <span th:text="${tweet.tweetId}"></span></p>
        <p>ツイート内容: <span th:text="${tweet.tweetText}"></span></p>
    </div>
</div>
</body>
</html>
